/********************************************
 * Common
 ********************************************/

body {
    width: 1000px;
    margin: 5px auto;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: #0001cf;
}

.text-align-center {
    text-align: center;
}

#header img {
    vertical-align: middle;
}

table.th-min-width th {
    min-width: 6em;
}

.header {
    margin-bottom: 10px;
}

.footer {
    margin-top: 50px;
    font-size: smaller;
    text-align: center;
}

.sitename {
    font-size: 2em;
    font-variant: small-caps;
    vertical-align: middle;
    margin-left: 5px;
}

tr.tableHeader th {
    text-align: center;
}

/********************************************
 * Styled Table
 ********************************************/

.style-table {
    border-collapse: collapse;
}

.style-table th {
    text-align: center;
    padding: .4em .6em;
    background-color: #DFEFFC;
    font-weight: bold;
    color: #2E6E9E;
}

.style-table td {
    padding: .4em;
    border-top: 1px solid #A6C9E2;
    border-bottom: 1px solid #A6C9E2;
}

.style-table th {
    border: 1px solid #A6C9E2;
}

.style-table td.odd {
    background-color: #F5FAFA;
}

.style-table td.hover {
    background-color: #E0E5F5;
}

tr.sortable-header th {
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: -10px;
}

tr.sortable-header th.sorted-asc {
    background-image: url('tablesorter/desc.gif');
}

tr.sortable-header th.sorted-desc {
    background-image: url('tablesorter/asc.gif');
}

tr.sortable-header th.unsorted {
    background-image: url('tablesorter/bg.gif');
}

/********************************************
 * Form
 ********************************************/

form th, table.details th {
    color: navy;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    padding-right: 15px;
}

form td, input {
    vertical-align: top;
}

form table.horizontal th, form table.horizontal td {
    text-align: center;
    padding: 2px 0;
}

form fieldset {
    margin-bottom: 20px;
}

form legend {
    font-weight: bold;
    border: 1px solid #AAAAAA;
    padding: 3px 10px;
}

.required, .error {
    color: red;
}

th.subheading, td.subheading {
    padding-left: 40px;
}

textarea {
    height: 1.6em;
    width: 32em;
}

.success-msg {
    border-color: #008A00;
    background-color: #baffb7;
    background-image: url("../images/ok.png");
}

.error-msg {
    border-color: red;
    background-color: #ffb6c1;
    background-image: url("../images/error.png");
}

.warning-msg {
    border-color: orange;
    background-color: #fff0d7;
    background-image: url("../images/warn.png");
}

.info-msg {
    border-color: mediumblue;
    background-color: #d4f1ff;
    background-image: url("../images/info.png");
}

.success-msg, .error-msg, .warning-msg, .info-msg {
    background-repeat: no-repeat;
    background-position: 3px 3px;

    margin: auto auto 20px auto;
    border-width: 1px;
    border-style: solid;
    padding: 10px 10px 10px 50px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

input[type=button], input[type=submit] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
}
input[type=submit] { background-color: #eef4f9; border: 1px solid #c5d9e8; color: #005898  !important; font-weight: bold; }
input[type=button] { background-color: #fafafa; border: 1px solid #999; }
input[type=submit], input[type=button] { cursor: pointer; padding: 5px; }
input[type=submit]:hover { background-color: #fdf5ce; border: 1px solid #fbcb09; color: #c77405 !important; text-decoration: none !important; }
input[type=button]:hover { background-color: #d6cdcd; border: 1px solid #898282; }


/********************************************
 * Section Box
 ********************************************/

.section-box, .section-box-full-width {
    border: 1px solid #C4C1BC;
    /*background-color: #E7F1F4;*/
}

.section-box, .section-box-full-width, .shrink-wrap {
    /* shrink-wrap (http://stackoverflow.com/a/3569570/828271) */
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.section-box-full-width {
    width: 100%;
}

.section-box-header, .section-box-footer {
    background-color: #F4F7F7;
    height: 1.5em;
    padding: 0.3em;
    font-weight: bold;
}

.section-box-body, .section-box-footer {
    border-top: 1px solid #C4C1BC;
}

.section-box-body {
    padding: 5px 10px;
}

.section-box-shadow {
    -moz-box-shadow: 0 0 10px #AAA;
    -webkit-box-shadow: 0 0 10px #AAA;
    box-shadow: 0 0 10px #AAA;
}

.rounded-corners {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}

.rounded-corners-top {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -khtml-border-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.rounded-corners-bottom {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -khtml-border-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.margin-top {
    margin-top: 30px;
}

/********************************************
 * Dashboard
 ********************************************/

table.dashboard {
    width: 100%;
}

table.dashboard .section-box {
    width: 15em;
}

td.dashboard-box {
    padding: 0 30px 30px 0;
}
