{if $person->getId() == 0}
    <tr>
        <th>{t}password{/t} {required}</th>
        <td><input type="password" name="password"/></td>
        <td>{php}echo form_error('password');{/php}</td>
    </tr>
    <tr>
        <th>{t}retype.password{/t} {required}</th>
        <td><input type="password" name="retypePassword"/></td>
        <td>{php}echo form_error('retypePassword');{/php}</td>
    </tr>
{/if}
