table.tablesorter thead tr .header {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(bg.gif);
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
